<% if (user) { %>
  <p>First name: <%= user.firstName %></p>
  <p>Last name: <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
  <form method="post" action="/users/<%= user.id %>">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
    <a href="/users/<%= user.id %>/edit">Edit</a>
  </form>
  <h2>Books</h2>
  <a href="../books/new">New book</a>
  <ol>
    <% for (var i = 0; i < user.books.length; i++) { %>
      <li>
        <%= user.books[i].title %> <em>by <%= user.books[i].author %></em>
        <form method="post" action="/books/<%= user.books[i].id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="userId" value="<%= user.id %>">
          <button>Delete</button>
          <a href="/books/<%= user.books[i].id %>/edit">Edit</a>
        </form>
      </li>
    <% } %>
  </ol>
  <h3>New Book</h3>
  <form action="/books" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="hidden" name="userId" value="<%= user.id %>">
    <button>Add</button>
  </form>

<% } else { %>
  <em>User not found. Soz.</em>
<% } %>
